<footer>
  <section class="section-top">
    <div class="col">
      <h3>Title</h3>
      <div>Some text to be added later in this div</div>
      <div>Another div to hold text</div>
      <div>Another Div</div>
    </div>
    <div class="col">
      <h3>Title</h3>
      <div>Some text to be added later in this div</div>
      <div>Another div to hold text</div>
      <div>Another Div</div>
    </div>
    <div class="col">
      <h3>Title</h3>
      <div>A div</div>
      <div>Another Div</div>
    </div>
    <div class="col">
      <h3>Address</h3>
      <div>Indian Institute of Technology Ropar<br>
        IIT Ropar Main Campus,<br>
        Rupnagar,Punjab - 140001,India</div>
    </div>
  </section>
  <section class="section-bottom">
    <div>Follow</div>
    <div>Copy right</div>
  </section>
  </footer>
